on: 
  workflow_call

jobs:
  compile:
    runs-on: self-hosted
    name: Compile
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install Arduino CLI
        uses: arduino/setup-arduino-cli@v2
      #timeout 1h
      - name: Configure Arduino CLI
        run: arduino-cli config set network.connection_timeout 6000s
      - name: Install dependencies
        run: |
          deps=$(grep "^depends=" library.properties | cut -d'=' -f2)
          IFS=',' read -ra ADDR <<< "$deps"
          for i in "${ADDR[@]}"; do
            lib=$(echo "$i" | xargs)
            if [ -n "$lib" ]; then
              echo "Installing $lib..."
              arduino-cli lib install "$lib" || echo "Failed to install $lib"
              arduino-cli lib upgrade "$lib" || echo "Failed to upgrade $lib"
            fi
          done
      - name: install Board
        run: | 
          rm -rf ~/.arduino15/packages/esp32
          arduino-cli core install esp32:esp32
          arduino-cli core upgrade esp32:esp32
          arduino-cli core list
      - name: install dezibot
        run: |
          git archive --format=zip --prefix=dezibot/ --output=dezibot.zip HEAD
          arduino-cli lib uninstall dezibot || echo "Dezibot was not installed"
          arduino-cli config set library.enable_unsafe_install true
          arduino-cli lib install --zip-path dezibot.zip
          arduino-cli config set library.enable_unsafe_install false
