on:
  - push
  - delete
  - pull_request

jobs:
  compile:
    uses: ./.github/workflows/compile.yaml
    with:
      sketch: https://raw.githubusercontent.com/YouDyZ/dezibot-tests/refs/heads/main/all.ino
      
  RGBLED:
    uses: ./.github/workflows/hardwaretest.yaml
    needs: compile
    with:
      sketch: https://raw.githubusercontent.com/YouDyZ/dezibot-tests/refs/heads/main/RGB.ino
      name: rgb-test-log


  sync:
    runs-on: self-hosted
    name: Git Repo Sync
    needs: RGBLED
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: wangchucheng/git-repo-sync@v0.1.0
        with:
          target-url: ${{ secrets.TARGET_URL }}
          target-username: ${{ secrets.TARGET_USERNAME }}
          target-token:  ${{ secrets.TARGET_TOKEN }}
