on:
  - push
  - delete

jobs:
  sync:
    runs-on: self-hosted
    name: Git Repo Sync
    needs: compile
    steps:
      - uses: actions/checkout@v2
        with:
         fetch-depth: 0
      - uses: wangchucheng/git-repo-sync@v0.1.0
        with:
         target-url: ${{ secrets.TARGET_URL }}
         target-username: ${{ secrets.TARGET_USERNAME }}
         target-token:  ${{ secrets.TARGET_TOKEN }}

  compile:
    runs-on: self-hosted
    name: Compile
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install Arduino CLI
        uses: arduino/setup-arduino-cli@v2
      - name: Configure Arduino CLI
        run: arduino-cli config set network.connection_timeout 600s
      - name: Install dependencies
        # read libary.properties from root and read from there line that starts with depends= , split by comma and remove spaces after the , install each library
        run: |
          deps=$(grep "^depends=" library.properties | cut -d'=' -f2 | tr -d ' ')
          IFS=',' read -ra ADDR <<< "$deps"
          for i in "${ADDR[@]}"; do
            arduino-cli lib install "$i"
          done

      - name: install Board
        run: arduino-cli core install esp32:esp32
      - name: install dezibot
        run: |
          git archive --format=zip --prefix=dezibot/ --output=dezibot.zip HEAD
          arduino-cli lib install dezibot.zip

      - name: Compile
        run: arduino-cli compile test.ino
